body {
    background-color: rgb(241, 247, 255);
    /* linear-gradient( to top, rgb(0, 69, 207), rgb(0, 40, 100),  rgb(0, 2, 51), rgb(0, 18, 48), rgb(0, 33, 133), rgb(0, 44, 146), rgb(0, 0, 0)); */
    margin: 0;
}

.navbar {
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    position: sticky;
    top: 0;
    left: 0;
    /* border: 2px solid transparent; */

    background-image: linear-gradient(to right, rgb(43, 114, 255), rgb(162, 162, 255)) ;
    font-family: 'Satisfy', cursive;
    z-index: 34343;

}

.navbar:hover {
    /* border: 2px solid black ; */


}
li {
    list-style-type: none !important;
}

.navbar-container {
    display: flex;
    text-align: center;

}

.navbar-container > li {
    margin: 1rem 0;
}


.link {
    text-decoration: none;
    color: rgb(16, 15, 31);
    padding: .7rem;
    margin: 1rem .5rem;
    border: 2px solid transparent;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-weight: 500;
    font-size: 20px;
    border-radius: 1rem;
    /* border: none; */
    background-color: transparent;
    transform: rotate(45deg);
    text-shadow: 2px 2px white;
    transition: background, border, text-shadow, 200ms ease-out;
    outline: none;
    
}

.link:hover {
    transform: rotate(0deg);
    border: 2px solid rgb(255, 255, 255);
    /* background: initial; */
    background: linear-gradient(to top, rgb(0, 69, 207), rgb(132, 179, 255) )  ;
    color: white;
    text-shadow: 2px 2px  black;
    transition: box-shadow,  color 400ms linear;
}
.link:focus {
    border-color: rgb(0, 27, 122);
    text-shadow: none;
    box-shadow: 0px 0px 3px 3px rgb(255, 255, 255);
}

@keyframes border {
    0% {
        border: none;
        background-color: transparent;

    }
     24% {

        border-top: 2px solid brown;
    }

    50% {
        border-right: 2px solid brown;

    }

    75% {
        border-bottom: 2px solid brown;
    } 

    100% {
        border: 2px solid brown;
        background-color: rgb(177, 177, 231);

    }
    
}

.link:hover   {
    animation-play-state: running; 

    /* /* border-color: brown; */
    /* color: brown; */ 

}



.project {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.project > div {
    display: flex;
    margin: 20px;
    border: 2px solid beige;
}

.svg {
    display: flex;
    flex-direction: column;
}



.svg > svg {
    width: 150px;
    border: 2px solid blue;
    border-radius: 25px;
    height: auto;
    background-color: #ffffff;
    padding: 20px;
}

.svg > svg:hover {
    background-color: #eafcff;
}

.image {
    margin: 20px;
}

.description {
    min-width: 400px;
}


.container > div  {
    padding: 100px 0; 
    border: 2px solid black;
}

.about-me {
    font-family: 'Satisfy', cursive;
    font-size: 35px;
    max-width: 1000px;
    margin: auto;
    
}
.user {
    display: flex;
    
    padding: 1rem 50px;
    align-items: center;
    color: rgb(255, 216, 216);
    text-shadow: 2px 0  2px black;
}


@keyframes round {
    0% {
        text-shadow: 0px 0px 2px blue;
    }
   
    40% {
        text-shadow: 3px 0px 2px blue;

    }
    60% {
        text-shadow: 3px 3px 2px blue;
    }
    80% {
        text-shadow: 0px 3px 2px blue;
    }
    100% {
        text-shadow: 0px 0px 2px blue;

    }
}

.animation {
    color: black;
    font-weight: 700;
    animation-duration: 2s;
    animation-name: round;
    animation-fill-mode: forward;
    animation-play-state: paused;
    animation-iteration-count: infinite;

}

.animation:hover {
    animation-play-state: running;
}


.education > div {
    margin-top: 20px;
}


.certificate {
    width: max-content;
    margin: auto;
    border: 1px solid #ffffff;
}


.certificate > h2 {
    border: 2px solid green;
    width: max-content;
    margin: auto;
    margin-top: 20px;
    color: wheat;
    
}