/* @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap'); */

body {
    position: relative;
    margin: 0;
    overflow-x: hidden;
    background-color: aqua;
}

body > * {

    box-sizing: border-box;
}
li {
    /* padding: 10px 20px; */
    /* list-style-type: none !important; */
}

a {
    color: green;
    text-decoration: none;
}

li > a {
    font-size: 20px;
}
.svg {
    text-align: center;
    margin: 20px;
}

.name {
    color: transparent;
    font-size: 1.2rem;
    transition: all 500ms ease-in;
    padding: 10px 5px;
    cursor: default;
}

.svg > svg {
    aspect-ratio: 1/1;
    position: relative;
    width: 150px;
    margin: 10px;
    padding: 5px 10px;
    height: auto;
    z-index: 100;
    transition: transform 500ms ease-in-out;


}



.svg > svg:hover {
    transform: scale(1.12, 1.12);
}

.svg:hover .name {
    color: rgb(255, 255, 255);
}

section {
    position: relative;
    min-height: 100vh;
    background-color: #3a3a3a;
    /* border: 2px solid white; */
    padding: 150px 10%;
    margin:0;
    box-sizing: border-box;
}


#About-Me {
    height: 85px;
    background-color: green;
    border-bottom: 4px solid gray;
}

@media (max-width: 1100px) {
    section {
        padding: 150px 5%;
    }
    
    .certificate {
        /* grid-template-columns: 80% 20% ; */
    }

    .content {
        padding: 10px;
    }
    .content ul {
        padding-inline-start: 20px;
    }
    .content li {
        padding: 7px 0px 10px 5px !important;
    }
    
}

@media only screen and (max-width: 768px) {
    .certificate {
        display: block !important;
    }

    .content {
        margin-top: 0px !important;
    }
    .content ul {
        font-size: 14px;
    }



    .svg > svg {
       max-width: 100px;
       margin: 0;

    }

    .name {
        font-size: 1rem;
    }

    /* .pro {
        display: block !important;
        width: 90dvw !important;
    } */

    header {
        position: relative !important;
    }
}


@media only screen and (max-width: 600px) {
   

    .content ul {
        display: flex;
        flex-wrap: wrap;
    }

    .content li {
        padding: 10px 30px 10px 10px !important;
    }
    .svg {
        margin: 0;
    }

    .svg > svg {
        width: 80px;
        margin: 0;
    }
    .solo {
        min-width: 300px !important;
    }
    .name {
        padding: 5px;
    }

    .navbar-nav {
        text-align: center;
    }

}

header {
    position: fixed !important;
    /* position: sticky; */
    top: 0;
    left: 0;
    right: 0;
    /* border: 1px solid transparent; */
    z-index: 200;
    /* width: 100%; */
    max-width: 100dvw;
    margin: 0;

    /* border: 2px solid yellow; */

}
.navbar {
    background-color: #00000e !important;

}





.container-fluid{
    justify-content: flex-end !important;
}
.navbar-nav{
    display: flex;
    margin-left: auto;
    /* border: 2px solid black; */
}

.nav-item {
    padding: 10px;
}

.nav-link {
    padding: 10px 20px;
    /* border: 2px solid red; */
    color: white;
    font-size: 18px;
    border: 2px solid transparent;
    transition: border-bottom-color 700ms ease-out;
}

.nav-link:hover {
    color: green;
    border-bottom-color: blue;
}

.nav-dbar {
    /* display: block; */
    margin-left: auto;
    padding-right: 40px;
    /* width: max-content; */
    max-width: 100dvw;
    /* border: 2px solid yellow; */

}
.navbar-container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgb(172, 172, 107);
}


.custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom svg {
    position: relative;
    display: block;
    width: calc(107% + 1.3px);
    height: 242px;
}

@media only screen and (max-width: 600px) {
    .custom svg {
        height: 142px;
    }
}

.custom .shape-fill {
    fill: #00000e ;
}

.custom-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
color: #00000e ;
}

.custom-divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    /* border: 2px s    olid white; */
}

.custom-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 250px;
}

.custom-divider .shape-fill {
    fill: #00000e;
}

img {
    width: 100%;
}

.technology {
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.certificate {
    border-left: 2px solid white;
    border-top: 2px solid white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    grid-template-rows: auto;
    grid-template-columns: auto 300px;
}

.certificate {
}
.certificate > a {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 20px;
    /* height: min-content; */
}

.topic {
    /* justify-self: flex-start; */
    font-size: 1.5rem;
    color: #cbcbdd;
    font-weight: 500;
    padding: 10px 0;
    /* border-left: 2px solid black; */
}
.cert-image {
     /* display: flex; */
    /* flex-grow: 1.1; */
    /* flex-direction: column; */
    align-items: center; 
    /* border: 2px solid black; */
    /* margin: auto; */
    /* border: 5px solid greenyellow; */
}

@keyframes upward {

    0% {
    transform: none;

    }
    50% {
        transform: rotateZ(-15deg);
    }

    75% {
        transform: rotateY('53deg');

    }
    /* 85% {
        transform: none;
    } */
    100% {
        transform: none;
    }
}

.cert-image img {
    max-width: 800px;
    transform: none;
    border: 2px solid white;
    animation-duration: 1000ms;
    animation-iteration-count:infinite ;
    animation-play-state: paused;
    animation-timing-function: forwards;
}
.cert-image:hover img {

    animation-play-state: running;
    box-shadow: -4px -4px 20px  rgb(104, 11, 11)
}
.content {
    min-width: 250px;
    font-size: 1.2rem;
    color: white;
    /* margin   -top: calc(1.5rem +  42px ); */
    padding: 20px;
    border-right: 2px solid brown;
    border-top: 2px solid brown;
    transition: box-shadow 500ms ease;
}

.content:hover {
    box-shadow: 4px -4px 20px  rgb(101, 101, 101)
}

.content ul {
    border: 2px solid green;
    /* padding-inline-start: 40px; */
}
.content li {
    padding: 10px 0;
    transition: all 300ms ease-in;
    cursor: pointer;
    border: 1px solid blue;
}

.content li:hover {
    text-decoration: none;

    color: brown;
}

.solo-learn {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: auto;

    
}


.solo {
    min-width: 420px;
    max-width: 600px;
    margin: 20px;
    margin-left: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

   }

.image-verify {
    position: relative;
}

.image-verify:hover .verify {
    display: block;

}

.verify {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .8rem;
    background-color: #00000e;
    color: white;
    padding: 5px 10px;
    border-bottom-right-radius: 5px;
    display: none;
}

   
.solo-img {

    border-bottom:  4px solid red;
}

.solo-name {
    padding: 10px 5px;
    font-size: 22px;
    color: white;
    text-align: center;
    background-color: #00000e;
    font-family: 'Playpen Sans', cursive;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}


.project-container {
    /* display: none; */
    width: max-content;
    margin: auto;
}


.pro {
    background-color: rgba(255, 255, 255, 0.346);
    margin: 40px;
    display: grid;
    width: 700px;
    grid-template-columns: 165px auto;
    /* justify-content: end;
    align-items: start; */
    /* flex-direction: column;   */
    /* border: 3px solid red; */
    padding: 20px 0;
    border-radius: 20px;
    border-top-left-radius: 20px;
    transition: all 400ms ease-out;
    
}

.pro:hover {
    transform: scale(1.05);
    box-shadow:   20px 20px 20px -15px rgb(78, 71, 71);

}


.border {
    border-bottom-color:  yellow;
    background-color: white !important;
}



.description {
    cursor: default;
    position: relative;
    margin: 0 20px;
    padding-bottom: 20px;
    color: black;
}


.see {

    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #00000e;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    transition: opacity 00ms ease;
    z-index: 400;
    pointer-events: none;
}
.description:hover .see{
    display: flex;
    opacity: 1;
    pointer-events: all ;
}

.see a {
    cursor: default;
}

.see button:hover {
    box-shadow: 0 0 10px 2px rgb(77, 0, 0);
}

.see  button {
    cursor: pointer;

    margin: 10px ;
    padding: 10px 20px;
    border: none;
    font-family:  sans-serif;
    color: rgb(255, 255, 255);
    background-color: #00000e;
    font-size: 1.2rem;
    border-radius: 20px;
}

.description:hover .note{
    opacity: .5;
}



.title > h3 {
    /* border: 2px solid gainsboro; */
    text-align: center;
    margin: 15px 0;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-right: 4px solid red;
    /* position: relative; */
    text-align: end;
    padding: 0 20px;
}

.image-container .image {
    width: 89%;
    margin: 10px 0;

}

.developed {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    opacity: .5;

    padding: 10px 0;
    transition: opacity 1000ms ease;
}

.developed > div {
    cursor: pointer;
    margin: 2px 0;
    font-size: .7rem;
    padding: 4px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(1, 43, 1);
    color: white;
    border: .5px solid transparent;
    border-radius: 20px;
}

.developed > div:hover {
    border-color: #00000e;
} 


.image-container:hover .developed  {
    opacity: 1;
}